.footer {
  border-top: 1px solid #eee;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.footer__nav-list--region {
  grid-column: span 4;
  margin-left: 1.6875rem;
  font-weight: 700;
}

.footer__nav-list--main,
.footer__nav-list--legal,
.footer__nav-list--social,
.footer__nav-list--newsletter {
  grid-column: span 2;
}

.footer__nav-list--newsletter {
  margin-right: 1.6875rem;
}

.footer__nav-title {
  font-weight: 400;
}

.footer__nav-btn {
  display: inline-flex;
  align-items: center;
  gap: .625rem;
}

@media (min-width: 1280px) {
  .footer {
    padding-top: 1.6875rem;
    padding-bottom: 1.6875rem;
  }

  .footer__nav-item--title,
  .footer__nav-icon--social {
    display: none;
  }
}

@media (max-width: 1279px) {
  .footer__nav-list--region {
    grid-column: span 6;
    margin-left: 0;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
  }

  .footer__nav-list--main {
    grid-column: span 6;
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    text-align: right;
  }

  .footer__nav-list--legal {
    grid-column: span 12;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: right;
  }

  .footer__nav-list--social {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    grid-column: span 12;
    gap: 1.25rem;
    padding: 1.25rem;
    border-top: 1px solid #eee;
  }

  .footer__nav-list--newsletter {
    grid-column: span 12;
    margin-right: 0;
    padding: 1.25rem;
    border-top: 1px solid #eee;
  }

  .footer__nav-item--title {
    position: absolute;
    top: 50%;
    left: 1.25rem;
    transform: translateY(-50%);
  }

  .footer__nav-link,
  .footer__nav-btn {
    line-height: 1.5625rem;
  }

  .footer__nav-text--social {
    display: none;
  }
}