.form {
  position: relative;
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;
  color: #999;
  transition: transform 450ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(0);
  pointer-events: none;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-15px);
}


.form__group--consent {
  margin-top: 1.25rem;
}

.form__submit {
  margin-top: 1.25rem;
}

.form__legal {
  margin-top: .625rem;
}

.form__legal-link {
  text-decoration: underline;
}

.form__checkbox-label {
  position: relative;
  display: inline-flex;
  gap: .625rem;
  padding-left: 1.25rem;
  cursor: pointer;
}

.form__checkbox {
  position: absolute;
  top: .156rem;
  left: 0;
  width: .5rem;
  height: .5rem;
  opacity: 0;
  pointer-events: none;
}

.form__checkbox-label::before {
  position: absolute;
  top: .156rem;
  left: 0;
  width: .5rem;
  height: .5rem;
  background-color: transparent;
  box-shadow: 0 0 0 .0625rem inset, 0 0 0 .125rem #fff inset;
  content: "";
}

.form__checkbox-label:has(.form__checkbox:checked)::before {
  background-color: #000;
}

@media (max-width: 767px) {
  .form__checkbox-label::before {
    width: .5625rem;
    height: .5625rem;
  }
}