.form {
  position: relative;
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;
  color: #999;
  transition: transform 450ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(0);
  pointer-events: none;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-15px);
}


.form__consent,
.form__note {
  margin-top: 1.25rem;
}

.form__submit {
  display: block;
  width: 100%;
  min-height: 2.5rem;
  margin-top: 1.25rem;
  padding: 0.75rem 0.625rem 0.8125rem;
  font: inherit;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  background-color: #000;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  cursor: pointer;
}

.form__submit:hover {
  font-weight: 400;
  background-color: #222;
}

.form__legal {
  margin-top: .625rem;
}

.form__privacy-link {
  text-decoration: underline;
}

.form__checkbox-label {
  position: relative;
  display: inline-flex;
  gap: .625rem;
  padding-left: 1.25rem;
  cursor: pointer;
}

.form__checkbox {
  position: absolute;
  top: .125rem;
  left: 0;
  width: .5rem;
  height: .5rem;
  opacity: 0;
  pointer-events: none;
}

.form__checkbox-label::before {
  position: absolute;
  top: .125rem;
  left: 0;
  width: .5rem;
  height: .5rem;
  background-color: transparent;
  box-shadow: 0 0 0 .0625rem inset, 0 0 0 .125rem #fff inset;
  content: "";
}

.form__checkbox-label:has(.form__checkbox:checked)::before {
  background-color: #000;
}

@media (max-width: 767px) {
  .form__checkbox-label::before {
    top: .1875rem;
    width: .5625rem;
    height: .5625rem;
  }
}