/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #000;
  color: #fff;
}

body {
  font-family: "neue-haas-grotesk-text", "neue-haas-grotesk-text-fallback", sans-serif;
  font-size: .625rem;
  line-height: .8125rem;
  letter-spacing: .03em;
  text-transform: uppercase;

  color: #000;
  background-color: #fff;

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

@media (max-width: 767px) { /* Mobile L and below */
  body {
    font-size: .75rem;
    line-height: .9375rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-family: "neue-haas-grotesk-display", "neue-haas-grotesk-display-fallback", sans-serif;
  font-size: 1.375rem;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
}

@media (max-width: 767px) { /* Mobile L and below */
  h1 {
    font-size: 1.1875rem;
  }
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a[aria-current="page"] {
  font-weight: 700;
}

button {
  all: unset;
  cursor: pointer;
  color: inherit;
  text-transform: uppercase;
}

@media (hover: hover) {
  a:hover,
  button:hover {
    font-weight: 700;
  }
}

label {
  font-weight: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.i {
  display: none;
}

input,
input.w-input {
  display: block;

  width: 100%;
  height: auto;
  margin-bottom: 0;
  padding: 0 3.875rem .3125rem 0;

  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;

  background-color: transparent;
  box-shadow: none;
  outline: none;

  color: #000;
  font-size: inherit;
  line-height: inherit;
}

input:focus,
input.w-input:focus {
  border-bottom: 1px solid #000;
  box-shadow: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

input::placeholder {
  color: #999;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
  height: 100%;
}

/* Header */
@media (max-width: 1279px) { /* Tablet and below */
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #fff;
    z-index: 103;
  }
}

.header__logo {
  position: fixed;
  z-index: 102;
}

@media (min-width: 1280px) { /* Desktop and above */
  .header__logo {
    top: 1.6875rem;
    left: 1.6875rem;
  }
}

@media (max-width: 1279px) { /* Tablet and below */
  .header__logo {
    top: 0;
    left: 0;
  }
}

.header__logo-link {
  display: flow-root;
  user-select: none;

  font-family: "neue-haas-grotesk-display", "neue-haas-grotesk-display-fallback", sans-serif;
  font-size: 1.67rem;
  font-weight: 700;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
}

.header__logo-link::before,
.header__logo-link::after {
  content: "";
  display: table;
  margin-bottom: calc(-.46lh + .36em);
}

@media (max-width: 1279px) { /* Tablet and below */
  .header__logo-link {
    font-size: 1.25rem;
    padding: 1.25rem;
  }
}

@media (max-width: 1279px) { /* Tablet and below */
  .header__nav {
    position: fixed;
    inset: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4.375rem;

    padding: 3.5rem 1.25rem 1.25rem;

    background-color: #fff;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .header__nav[data-open="true"] {
    opacity: 1;
    pointer-events: auto;
  }

  .header__nav-item {
    line-height: 1.5625rem;
  }

  .header__nav-link,
  .header__nav-toggle {
    display: block;
    width: 100%;
  }

  .header__nav-list--nested {
    margin-left: .625rem;
  }

  .header__nav-item--preview {
    margin-top: 1.25rem;
  }

  .header__nav-item--brand {
    margin-top: 1.875rem;
  }

  .header__nav-item--search {
    display: none;
  }
}

@media (min-width: 1280px) { /* Desktop and above */
  .header__nav-list--left,
  .header__nav-list--right {
    position: fixed;
    top: 8.75rem;
    z-index: 102;
  }

  .header__nav-list--left {
    left: 1.6875rem;
  }

  .header__nav-list--right {
    right: 1.6875rem;
    text-align: right;
  }

  .header__nav-list--nested {
    text-align: right;
  }

  .header__nav-item--preview,
  .header__nav-item--brand {
    margin-top: .8125rem;
  }

  .header__nav-item--search {
    position: fixed;
    top: 1.6875rem;
    right: 1.6875rem;
    display: flex;
  }
}

.header__nav-list--nested {
  height: 0;
  overflow: hidden;
  transition: height .25s ease;
}

.header__nav-toggle[data-active="true"] {
  font-weight: 700;
}

.header__nav-item--about {
  margin-top: .625rem;
}

.header__nav-item--behind {
  margin-bottom: 1.875rem;
}

.header__nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1280px) { /* Desktop and above */
  .header__mobile {
    display: none;
  }
}

@media (max-width: 1279px) { /* Tablet and below */
  .header__mobile {
    position: fixed;
    top: 0;
    z-index: 101;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 3.5rem;

    background-color: #fff;
  }
}

.header__mobile-toggle {
  position: relative;

  width: 2.375rem;
  height: 3.5rem;

  opacity: 1;
  pointer-events: auto;

  transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header__mobile-toggle[data-visible="false"] {
  opacity: 0;
  pointer-events: none;
}

.header__mobile-toggle--nav {
  margin-right: .625rem;
}

.header__mobile-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(-50%, -50%);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header__mobile-icon[data-visible="false"] {
  opacity: 0;
}

.header__mobile-icon[data-visible="true"] {
  opacity: 1;
}

@media (min-width: 1280px) { /* Desktop and above */
  .header__nav-item--region {
    display: none;
  }
}

@media (max-width: 1279px) { /* Tablet and below */
  .header__nav-item--region {
    font-weight: 700;
    margin-top: 1.875rem;
  }
}

/* Footer */
.footer {
  border-top: 1px solid #eee;
}

.footer__nav-toggle--icon {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.footer__nav-list--region {
  font-weight: 700;
}

@media (max-width: 1279px) { /* Tablet and below */
  .footer__nav-text--social {
    display: none;
  }
}

@media (min-width: 1280px) {
  .footer__nav-icon--social {
    display: none;
  }
}

@media (max-width: 1279px) { /* Tablet and below */
  .footer__nav-list--social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;
  }
}

@media (min-width: 1280px) { /* Desktop and above */
  .footer {
    padding-top: 1.6875rem;
    padding-bottom: 1.6875rem;
  }

  .footer__nav-list--region {
    margin-left: 1.6875rem;
  }

  .footer__nav-list--newsletter {
    margin-right: 1.6875rem;
  }
}

.footer__nav-list {
  grid-column: span 2;
}

.footer__nav-list--region {
  grid-column: span 4;
}

@media (max-width: 1279px) { /* Tablet and below */
  .footer__nav-list--region {
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    grid-column: span 6;
  }

  .footer__nav-list--contact {
    display: none;
  }

  .footer__nav-list--main {
    grid-column: span 6;
    text-align: right;
    padding-top: 1.25rem;
    padding-right: 1.25rem;
  }

  .footer__nav-list--legal {
    grid-column: 1 / -1;
    text-align: right;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .footer__nav-list--social,
  .footer__nav-list--newsletter {
    grid-column: 1 / -1;
    padding: 1.25rem;
    border-top: 1px solid #eee;
  }

  @media (max-width: 767px) { /* Mobile L and below */
    .footer__nav-list--region,
    .footer__nav-list--main {
      grid-column: span 3;
    }
  }
}

.footer__nav-icon--arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1279px) { /* Tablet and below */
  .footer__nav-icon--social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer__nav-link,
.footer__nav-toggle {
  display: inline-flex;
  align-items: center;
}

@media (max-width: 1279px) {
  .footer__nav-item {
    line-height: 1.5625rem;
  }
}

@media (max-width: 1279px) {
  .footer__nav-list--social .footer__nav-item {
    line-height: inherit;
  }
}

@media (max-width: 1279px) {
  .footer__nav-list--social .footer__nav-item {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .footer__nav-item--social-heading {
    display: none;
  }
}

@media (max-width: 1279px) {
  .footer__nav-item--social-heading {
    margin-right: auto;
  }

  .footer__nav-heading {
    font-weight: 400;
  }
}

/* panel */
.panel {
  position: fixed;
  inset: 0;
  z-index: 102;
}

.panel[data-open="true"] {
  display: block;
}

.panel__inner {
  grid-column: 9 / 13;
  height: 100%;
  background-color: #fff;
  padding: 8.75rem 1.6875rem 1.6875rem .625rem;
  overflow-y: auto;
}

@media (max-width: 1279px) {
  .panel__inner {
    padding: 3.5rem 1.25rem 1.25rem .625rem;
  }
}

@media (max-width: 1023px) {
  .panel__inner {
    grid-column: 7 / 13;
  }
}

@media (max-width: 767px) {
  .panel__inner {
    grid-column: 1 / -1;
    padding: 3.5rem 1.25rem 1.25rem 1.25rem;
  }
}

@media (min-width: 1280px) { /* Desktop and above */
  .panel__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0;
  }
}

@media (min-width: 1280px) { /* Desktop and above */
  .panel__content {
    grid-column: span 2;
  }
}

.panel__form-newsletter {
  margin-top: 1.875rem;
}

.panel__form-label {
  color: #999;
  margin-bottom: -.875rem;
  pointer-events: none;
  transform: translateY(0);
  transition: transform 450ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 450ms cubic-bezier(0.19, 1, 0.22, 1);
}

.panel__form-label[data-active="true"] {
  transform: translateY(-15px);
}

.panel__form-input {
  text-transform: none;
}

.panel__form-submit {
  margin-top: 1.25rem;
  border: 1px solid #000;
  background-color: #000;
  text-align: center;
  height: 2.75rem;
  align-content: center;
  -webkit-box-pack: center;
  white-space: normal;
  word-wrap: break-word;
  text-overflow: ellipsis;
  text-wrap: balance;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  cursor: pointer;
}

.panel__form-submit:hover {
  border-color: #222;
  background-color: #222;
}

.panel__form-policy {
  margin-top: .625rem;
}

.panel__form-policy-link {
  text-decoration: underline;
}

/* Hero */
.hero {
  margin-top: 0;
}

.hero__image {
  display: block;
  width: 100%;
  grid-column: 5 / 9;
}

@media (max-width: 1279px) {
  .hero {
    margin-top: 3.5rem;
  }

  .hero__image {
    grid-column: 1 / -1;
  }
}

/* W classes */
.w-form {
  margin: 0;
}

.w-form-done,
.w-form-fail {
  display: none;
  margin: 0;
  padding: 0;
  background: none;
  text-align: inherit;
}

.w-checkbox {
  margin: 0;
  padding: 0;
  display: contents;
  position: relative;
}

.w-checkbox-input {
  all: unset;
  left: .0625rem;
  width: .5625rem;
  height: .5625rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  content: "";
}