/* #region Global */
*, *::before, *::after {
  box-sizing: border-box;
}

*::selection {
  color: #fff;
  background: #000;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  text-transform: inherit;
  background: none;
}

@media (hover: hover) {
  a:hover,
  button:hover {
    font-weight: 700;
  }
}

label {
  margin-bottom: 0;
  font-weight: inherit;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1 {
  font-family: neue-haas-grotesk-display, "neue-haas-grotesk-display fallback", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.375rem;
  line-height: 1.375rem;
}

@media (max-width: 767px) {
  h1 {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

body {
  width: 100%;
  height: 100%;
  font-family: neue-haas-grotesk-text, "neue-haas-grotesk-text fallback", sans-serif;
  font-size: .625rem;
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-display: swap;
  text-rendering: optimizelegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  font-weight: 400;
  line-height: .8125rem;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

@media (max-width: 767px) {
  body {
    font-size: .75rem;
    line-height: .9375rem;
  }
}

/* #endregion */

/* #region Footer */
@media (min-width: 1280px) {
  .footer {
    padding-top: 1.6875rem;
    padding-bottom: 1.6875rem;
  }
}

.footer {
  border-top: 1px solid #eee;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
}

.footer__nav-list--region {
  grid-column: span 4;
  margin-left: 1.6875rem;
  font-weight: 700;
}

@media (max-width: 1279px) {
  .footer__nav-list--region {
    grid-column: span 6;
    margin-left: 0;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
  }
}

.footer__nav-list--main {
  grid-column: span 2;
}

@media (max-width: 1279px) {
  .footer__nav-list--main {
    grid-column: span 6;
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    text-align: right;
  }
}

.footer__nav-list--legal {
  grid-column: span 2;
}

@media (max-width: 1279px) {
  .footer__nav-list--legal {
    grid-column: span 12;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: right;
  }
}

.footer__nav-list--social {
  grid-column: span 2;
}

@media (max-width: 1279px) {
  .footer__nav-list--social {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    grid-column: span 12;
    gap: 1.25rem;
    padding: 1.25rem;
    border-top: 1px solid #eee;
  }
}

.footer__nav-list--newsletter {
  grid-column: span 2;
  margin-right: 1.6875rem;
}

@media (max-width: 1279px) {
  .footer__nav-list--newsletter {
    grid-column: span 12;
    margin-right: 0;
    padding: 1.25rem;
    border-top: 1px solid #eee;
  }
}

@media (min-width: 1280px) {
  .footer__nav-item--title {
    display: none;
  }
}

@media (max-width: 1279px) {
  .footer__nav-item--title {
    position: absolute;
    top: 50%;
    left: 1.25rem;
    transform: translateY(-50%);
  }
}

.footer__nav-title {
  font-weight: 400;
}

@media (max-width: 1279px) {
  .footer__nav-link,
  .footer__nav-btn {
    line-height: 1.5625rem;
  }
}

.footer__nav-btn {
  display: inline-flex;
  align-items: center;
  gap: .625rem;
}

@media (max-width: 1279px) {
  .footer__nav-text--social {
    display: none;
  }
}

@media (min-width: 1280px) {
  .footer__nav-icon--social {
    display: none;
  }
}

/* #endregion */

/* #region Search */
.search {
  position: relative;
}

.search__input {
  padding-right: 3.5rem;
}

.search__clear {
  position: absolute;
  top: 0;
  right: 0;
}

/* #endregion */

/* #region Form */
.form {
  position: relative;
  margin-top: 1.875rem;
}

.form__label {
  position: absolute;
  top: 0;
  margin-bottom: -.875rem;
  color: #999;
  transition: transform 450ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(0);
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-15px);
}


.form__confirm {
  margin-top: 1.25rem;
}

.form__submit {
  margin-top: 1.25rem;
}

.form__legal {
  margin-top: .625rem;
}

.form__legal-link {
  text-decoration: underline;
}

/* #endregion */

/* #region Hero */
.hero {
  position: relative;
  color: #fff;
}

.hero__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  gap: 0;
}

.hero__link {
  grid-column: 5 / 9;
  width: 100%;
}

.hero__img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 1279px) {
  .hero__link {
    grid-column: 1 / -1;
  }
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.hero__text {
  font-weight: 400;
  text-decoration: underline;
}

/* #endregion */

/* #region Webflow */
.w-form {
  margin-bottom: 0;
}

.w-form-done {
  padding: 0;
  text-align: left;
  background-color: transparent;
}

.w-input {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 0;
  padding-bottom: .3125rem;
  padding-left: 0;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: #000;
  background: rgb(0 0 0 / 0%);
  border: 0 none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-style: normal;
  outline: none
}

.w-input:focus, .w-select:focus {
  border-color: #000;
  outline: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff0 inset !important;
  box-shadow: 0 0 0 1000px #fff0 inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.w-checkbox {
  position: relative;
  display: block;
  margin-top: .9375rem;
  margin-bottom: 0;
  padding-left: 0;
}

.w-checkbox-input {
  position: absolute;
  top: .125rem;
  float: left;
  width: .5rem;
  height: .5rem;
  margin: 0;
  line-height: normal;
  border: 1px solid #000;
  border-radius: 0;
}

@media (max-width: 767px) {
  .w-checkbox-input {
    top: .1875rem;
    width: .5625rem;
    height: .5625rem;
  }
}

.w-form-label {
  margin-left: 1.25rem ;
}

.w-button {
  display: block;
  display: -webkit-box;
  align-content: center;
  width: 100%;
  height: 2.75rem;
  padding: 0 .625rem;
  overflow: hidden;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  -ms-flex-line-pack: center;
  -webkit-box-pack: center;
  word-wrap: break-word;
  text-overflow: ellipsis;
  text-wrap: balance;
}

.w-button:hover {
  background-color: #222;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #000;
  background-image: none;
  border: 0;
  box-shadow: 0 0 0 .0625rem inset, 0 0 0 .125rem #fff inset
}

/* #endregion */

/* #region panel */
.panel {
  position: fixed;
  z-index: 120;
  opacity: 0;
  transition: opacity 0s linear 450ms;
  pointer-events: none;
  inset: 0;
}

.panel[data-state="open"] {
  opacity: 1;
  transition-delay: 0s;
  pointer-events: auto;
}
/* #endregion */

/* #region panel close */
.panel__close {
  position: fixed;
  z-index: 110;
  top: 1.6875rem;
  right: 1.6875rem;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
}

.panel[data-state="open"] .panel__close {
  opacity: 1;
  transition: opacity 350ms cubic-bezier(0.215, 0.61, 0.355, 1) 150ms;
  pointer-events: auto;
}

@media (max-width: 1279px) {
  .panel__close {
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 3.5rem;
    margin-right: .625rem;
  }
}
/* #endregion */

/* #region panel close text */
@media (max-width: 1279px) {
  .panel__close-text {
    display: none;
  }
}
/* #endregion */

/* #region panel close icon */
@media (min-width: 1280px) {
  .panel__close-icon {
    display: none;
  }
}
/* #endregion */

/* #region panel grid */
.panel__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
}
/* #endregion */

/* #region panel inner */
.panel__inner {
  display: grid;
  grid-column: 9 / 13;
  grid-template-columns: repeat(4, 1fr);
  padding: 8.75rem 1.6875rem 1.6875rem .625rem;
  overflow-y: auto;
  background-color: #fff;
  transition: transform 450ms cubic-bezier(0.19, 1, 0.22, 1) 50ms;
  transform: translateX(100%);
}

.panel[data-state="closed"] .panel__inner {
  transition: transform 450ms cubic-bezier(0.19, 1, 0.22, 1) 50ms;
  transform: translateX(100%);
}

.panel[data-state="open"] .panel__inner {
  transition: transform 650ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(0);
}

@media (max-width: 1279px) {
  .panel__inner {
    display: block;
    padding: 3.5rem 1.25rem 1.25rem .625rem;
  }
}

@media (max-width: 1023px) {
  .panel__inner {
    grid-column: 7 / 13;
  }
}

@media (max-width: 767px) {
  .panel__inner {
    grid-column: 1 / -1;
    padding: 3.5rem 1.25rem 1.25rem;
  }
}
/* #endregion */

/* #region panel content */
.panel__content {
  grid-column: span 3;
  height: 100%;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
}

.panel[data-state="open"] .panel__content {
  opacity: 1;
  transition: opacity 350ms cubic-bezier(0.215, 0.61, 0.355, 1) 150ms;
  pointer-events: auto;
}
/* #endregion */

/* #region panel title */
.panel__title {
  font-weight: 700;
}
/* #endregion */

/* #region header logo */
.header__logo {
  position: fixed;
  z-index: 130;
  top: 1.6875rem;
  left: 1.6875rem;
  display: flex;
}

@media (max-width: 1279px) {
  .header__logo {
    top: 0;
    left: 0;
  }
}
/* #endregion */

/* #region header logo link */
@media (max-width: 1279px) {
  .header__logo-link {
    padding: 1.25rem;
  }
}
/* #endregion */

/* #region header logo text */
.header__logo-text {
  display: flow-root;
  font-family: neue-haas-grotesk-display, "neue-haas-grotesk-display fallback", sans-serif;
  font-size: 1.67rem;
  font-weight: 700;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

@media (max-width: 1279px) {
  .header__logo-text {
    font-size: 1.25rem;
  }
}

.header__logo-text::before {
  content: "";
  display: table;
  margin-bottom: calc(-0.5lh + 0.411em);
}

.header__logo-text::after {
  content: "";
  display: table;
  margin-bottom: calc(-0.5lh + 0.34em);
}
/* #endregion */

/* #region header nav */
@media (max-width: 1279px) {
  .header__nav {
    display: none;
  }
}
/* #endregion */

/* #region header nav list left */
@media (min-width: 1280px) {
  .header__nav-list--left,
  .header__nav-list--right {
    position: fixed;
    z-index: 100;
    top: 8.75rem;
  }

  .header__nav-list--left {
    left: 1.6875rem;
  }

  .header__nav-list--right {
    right: 1.6875rem;
    text-align: right;
  }
}
/* #endregion */

/* #region header nav list right */

/* #endregion */

/* #region header nav list nested */
.header__nav-list--nested {
  height: 0;
  overflow: hidden;
  text-align: right;
  transition: height 0.25s ease;
}

@media (max-width: 1279px) {
  .header__nav-list--nested {
    margin-left: .625rem;
    text-align: left;
  }
}

.header__nav-list--nested > :first-child {
  margin-top: .625rem;
}

.header__nav-list--nested > :last-child {
  margin-bottom: 1.875rem;
}
/* #endregion */

/* #region header nav item */

/* #endregion */

/* #region header nav item preview */
.header__nav-item--preview {
  margin-top: .8125rem;
}
/* #endregion */

/* #region header nav item brand */
.header__nav-item--brand {
  margin-top: .8125rem;
}
/* #endregion */

/* #region header nav item search */
.header__nav-item--search {
  position: fixed;
  top: 1.6875rem;
  right: 1.6875rem;
  display: flex;
}

@media (max-width: 1279px) {
  .header__nav-item--search {
    display: none;
  }
}
/* #endregion */

/* #region header nav item region */

/* #endregion */

/* #region header nav link */
@media (max-width: 1279px) {
  .header__nav-link,
  .header__nav-btn {
    display: inline-flex;
    width: 100%;
    line-height: 1.5625rem;
  }
}
/* #endregion */

/* #region header nav btn */
.header__nav-btn[data-active="true"] {
  font-weight: 700;
}
/* #endregion */

/* #region header nav text */

/* #endregion */

/* #region header nav icon */

/* #endregion */

/* #region header mobile */
@media (min-width: 1280px) {
  .header__mobile {
    display: none;
  }
}

@media (max-width: 1279px) {
  .header__mobile {
    position: fixed;
    z-index: 100;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 3.5rem;
    background-color: #fff;
  }
}
/* #endregion */

/* #region header mobile btn */
.header__mobile-btn {
  position: relative;
  width: 2.25rem;
}
/* #endregion */

/* #region header mobile btn search */

/* #endregion */

/* #region header mobile btn cart */

/* #endregion */

/* #region header mobile btn nav */
.header__mobile-btn--menu {
  margin-right: .625rem;
}
/* #endregion */

/* #region header mobile icon */
.header__mobile-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5rem;
  transform: translate(-50%, -50%);
}

.header__mobile-icon--open[data-visible="false"],
.header__mobile-icon--close[data-visible="false"] {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  pointer-events: none;
}

.header__mobile-icon--open[data-visible="true"],
.header__mobile-icon--close[data-visible="true"] {
  opacity: 1;
  pointer-events: auto;
}
/* #endregion */

/* #region header mobile icon ham */

/* #endregion */

/* #region header mobile icon x */
.header__mobile-icon--x {
  opacity: 0;
  pointer-events: none;
}
/* #endregion */

/* #region nav */
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 4.375rem;
  height: 100%;
  overflow-y: auto;
}
/* #endregion */

/* #region nav item preview */
@media (max-width: 1279px) {
  .nav__item--preview {
    margin-top: 1.25rem;
  }
}
/* #endregion */

/* #region nav item brand */
@media (max-width: 1279px) {
  .nav__item--brand {
    margin-top: 1.875rem;
  }
}
/* #endregion */

/* #region nav item region */
@media (max-width: 1279px) {
  .nav__item--brand {
    margin-top: 1.875rem;
    font-weight: 700;
  }
}
/* #endregion */