.w-form {
  margin-bottom: 0;
}

.w-form-done {
  padding: 0;
  text-align: left;
  background-color: transparent;
}

.w-input {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding-top: 0;
  padding-bottom: .3125rem;
  padding-left: 0;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: #000;
  background: rgb(0 0 0 / 0%);
  border: 0 none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-style: normal;
  outline: none
}

.w-input:focus, .w-select:focus {
  border-color: #000;
  outline: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff0 inset !important;
  box-shadow: 0 0 0 1000px #fff0 inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.w-checkbox {
  position: relative;
  display: block;
  margin-top: .9375rem;
  margin-bottom: 0;
  padding-left: 0;
}

.w-checkbox-input {
  position: absolute;
  top: .125rem;
  float: left;
  width: .5rem;
  height: .5rem;
  margin: 0;
  line-height: normal;
  border: 1px solid #000;
  border-radius: 0;
}

@media (max-width: 767px) {
  .w-checkbox-input {
    top: .1875rem;
    width: .5625rem;
    height: .5625rem;
  }
}

.w-form-label {
  margin-left: 1.25rem ;
}

.w-button {
  display: block;
  display: -webkit-box;
  align-content: center;
  width: 100%;
  height: 2.75rem;
  padding: 0 .625rem;
  overflow: hidden;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  -ms-flex-line-pack: center;
  -webkit-box-pack: center;
  word-wrap: break-word;
  text-overflow: ellipsis;
  text-wrap: balance;
}

.w-button:hover {
  background-color: #222;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #000;
  background-image: none;
  border: 0;
  box-shadow: 0 0 0 .0625rem inset, 0 0 0 .125rem #fff inset
}